@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.card{
    height: 545px;
    box-shadow: 0px 16px 40px rgba(139, 189, 248, 0.2);
    border-radius: 12px;
    cursor: pointer;
    margin-right: 50px;
}

.card-title{
    font-size:30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    
}

.about.btn.btn-primary{
    font-size:21px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #549EF5;
    border: none;
    margin-top: 22px;
}

.about.btn.btn-primary:hover{
    background-color:#0038FF;
}

.card-text{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: #3E3E3E;
}